table.chart {
    width: 95%;
    border: 1px solid #333;
    border-bottom: none;
    border-left: none;
    border-collapse: collapse;
}

.chart tbody th {
    text-align:    right;
    padding-right: 15px;
}

table.chart th, table.chart td {
    padding: 6px;
    border: 1px solid #333;
    border-top: none;
    border-right: none;
}

body {
    padding-bottom: 40px;
}

.right-space {
    margin-right: 1em;
}

.nobr { white-space: nowrap; }

.navbar .container { margin-left: 50px; }

.new-chart tbody th {
    text-align: right;
}

.new-chart thead th {
    text-align: center;
}

.component-doc ul li {
    margin-top: 1em;
}

h2, h3 {
    margin-bottom: 0.25em;
}

h3, ul + p {
    margin-top: 1.25em;
}

footer {
    margin-top: 22px;
    text-align: right;
}

.legal { font-size: 75%; }

a[rel="external"] {
    background: url('/assets/img/link_external.png') center right no-repeat;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-position-x: 100%;
    background-position-y: 50%;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    padding-right: 13px;
}

dl dd, li li {
    display: list-item;
    list-style-type: circle;
    margin-left: 2em;
    margin-top: 1em;
}

#banner.well {
    padding: 10px 19px;
}

#banner .pull-right a {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.diagram ol {
    list-style-position: inside;
}

.diagram ol li img {
    float: left;
    margin-right: 1.5em;
}

.diagram ol li {
    padding-bottom: 1.5em;
    margin-bottom:  1.5em;
    border-bottom:  1px dotted #333;
}

.diagram ol li:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#wamp-tm {
    padding-top: 10px;
}

@media(max-width:480px) {
    .diagram ol li p {
        clear: left;
        padding-top: 0.75em;
    }

    #wamp-tm { float: none; }

    #wamp-tm .legal { float: none; clear: both; }

    #banner .pull-right { margin-top: 1.5em; }
}

.headerlink {
    display: none;
}
h1:hover .headerlink,
h2:hover .headerlink,
h3:hover .headerlink,
h4:hover .headerlink,
h5:hover .headerlink,
h6:hover .headerlink {
    display: inline;
    line-height: normal;
}