<IfModule mod_rewrite.c>
  RewriteCond %{REQUEST_URI} !^/index\.php$
  RewriteRule ^([^.]+)\.php$ http://ratchet.cb/$1 [R=301,L]
</IfModule>

ErrorDocument 404 /404.php

AddDefaultCharset utf-8
AddCharset utf-8 .css .js .xml .json .rss .atom

<IfModule mod_autoindex.c>
  Options -Indexes
</IfModule>
