.container { position: relative; }

#chat-status {
    float: left;
    margin-top: 8px;
}

.create {
	position: absolute;
	top: 50%;
	margin-top: -50px;
	z-index: 3;
	left: 0;
	right: 0;
	background: #f4f4f4;
	padding: 30px;
	border: 1px solid #999;
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.9), 0 -2px 20px rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.9), 0 -2px 20px rgba(0,0,0,0.2);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.9), 0 -2px 20px rgba(0,0,0,0.2);
	display: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.create form { margin: 0; }

#channelList {
	margin: 50px 2% 0;
	width: 96%;
	float: left;
	background: #EFEFEF;
	border: 1px solid #CCC;
	border-bottom: none;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 15px;
	overflow-x: scroll;
	position: relative;
	z-index: 1;
}

#channelList ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
	width: 9999px;
}

#channelList li {
	display: inline-block;
	margin: 0 5px;
}

#channelList li a {
	display: block;
	padding: 5px 10px 25px;
	border: 1px solid #000;
	background: #2b5582;
	background-image: linear-gradient(bottom, #222 0%, #444 100%);
	background-image: -o-linear-gradient(bottom, #222 0%, #444 100%);
	background-image: -moz-linear-gradient(bottom, #222 0%, #444 100%);
	background-image: -webkit-linear-gradient(bottom, #222 0%, #444 100%);
	background-image: -ms-linear-gradient(bottom, #222 0%, #444 100%);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position: relative;
	color: #FFF;
	font-weight: bold;
	text-shadow: 0 1px 0 #000;
	text-align: center;
}

#channelList li a:hover, #channelList li.joined a {
	background: #366394;
	background-image: linear-gradient(bottom, #315a8a 0%, #3a6b9c 100%);
	background-image: -o-linear-gradient(bottom, #315a8a 0%, #3a6b9c 100%);
	background-image: -moz-linear-gradient(bottom, #315a8a 0%, #3a6b9c 100%);
	background-image: -webkit-linear-gradient(bottom, #315a8a 0%, #3a6b9c 100%);
	background-image: -ms-linear-gradient(bottom, #315a8a 0%, #3a6b9c 100%);
	text-decoration: none;
}

#channelList li a span {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 9px;
	text-transform: uppercase;
	background: #09192c;
	background: rgba(0,0,0,0.5);
	border-top: 1px solid #000;
	color: #FFF;
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	font-weight: 300;
}

#chat {
	width: 100%;
	float: left;
	margin: 0 0 50px;
	background: #FFF;
	border: 1px solid #000;
	-moz-box-shadow: 0 0 80px rgba(0,0,0,0.35);
	-webkit-box-shadow: 0 0 80px rgba(0,0,0,0.35);
	box-shadow: 0 0 80px rgba(0,0,0,0.35);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 13px;
	font-weight: 300;
	position: relative;
	z-index: 2;
}

#chat #colA {
	float: left;
	background: #09192c;
	color: #FFF;
	padding: 10px 0 0 0;
	width: 30%;
	line-height: 18px;
	height: 550px;
	overflow-y: scroll;
	position: relative;
}

a.groupHead, a.add {
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	text-shadow: 0 1px 0 #000;
	display: block;
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 17px 20px;
	background: #2b5582;
	background-image: linear-gradient(bottom, #222 0%, #333 100%);
	background-image: -o-linear-gradient(bottom, #222 0%, #333 100%);
	background-image: -moz-linear-gradient(bottom, #222 0%, #333 100%);
	background-image: -webkit-linear-gradient(bottom, #222 0%, #333 100%);
	background-image: -ms-linear-gradient(bottom, #222 0%, #333 100%);
	border-bottom: 1px solid #000;
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
	text-decoration: none;
	position: relative;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

a:hover.groupHead, a:hover.add {
	background: #2b5582;
	background-image: linear-gradient(bottom, #333 0%, #444 100%);
	background-image: -o-linear-gradient(bottom, #333 0%, #444 100%);
	background-image: -moz-linear-gradient(bottom, #333 0%, #444 100%);
	background-image: -webkit-linear-gradient(bottom, #333 0%, #444 100%);
	background-image: -ms-linear-gradient(bottom, #333 0%, #444 100%);
	text-decoration: none;
}

a:active.groupHead, a:active.add { background: #366394; }
a.groupHead.open { background: #366394; }

a.add {
	position: absolute;
	bottom: 0;
	border-bottom: 0;
}

a.groupHead .notifications {
	background: #f8f494;
	border: 1px solid #000;
	color: #000;
	-moz-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.2), 0 1px 0 rgba(255,255,255,0.2);
	-webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.2), 0 1px 0 rgba(255,255,255,0.2);;
	box-shadow: inset 1px 1px 5px rgba(0,0,0,0.2), 0 1px 0 rgba(255,255,255,0.2);;
	padding: 2px 13px;
	text-shadow: none;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	position: absolute;
	right: 20px;
	top: 14px;
	opacity: 1;
	-moz-transition: opacity 0.3s linear;
	-webkit-transition: opacity 0.3s linear;
	-ms-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
}

a.groupHead .notifications.none { opacity: 0; }

.users {
	list-style: none;
	margin: 5px 0 10px;
	padding: 0;
	float: left;
	width: 100%;
	display: none;
}

.users li { margin: 8px 20px; }

.users li span {
	display: block;
	float: left;
	width: 6px;
	height: 6px;
	text-indent: -9999px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	margin: 6px 10px 0 0;
	background-color: #6be5a7;
}

#chat #colB {
	float: right;
	width: 70%;
	padding: 10px 0 0 0;
	line-height: 28px;
	font-size: 14px;
	color: #2b2b2b;
	position: relative;
	height: 550px;
	overflow: hidden;
}

#chat #colB .chatWindow {
	position: absolute;
	top: 10px;
	height: 453px;
	overflow-y: scroll;
	display: none;
	border-top: 1px solid #d8d8d8;
	width: 100%;
}

.comment {
	width: 100%;
	float: left;
	background: #f6faff;
	border-bottom: 1px solid #d8d8d8;
	padding: 10px 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.9);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.9);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.9);
}

.comment.mine { background: #fffff4; }

.comment h2 {
	float: left;
	color: #2b2b2b;
	font-size: 14px;
	margin: 5px 2% 0 0;
	width: 18%;
	line-height: 18px;
}

.comment h2 span {
	color: #a6a6a6;
	font-size: 11px;
	font-style: italic;
	font-weight: 300;
}

.comment p {
	float: right;
	width: 78%;
	margin: 0;
	font-size: 14px;
	line-height: 28px;
}

#colB form {
	position: absolute;
	bottom: 0;
	background: #f4f4f4;
	left: 0;
	right: 0;
	margin: 0;
	padding: 30px;
	border-top: 1px solid #999;
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.9), 0 -2px 20px rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.9), 0 -2px 20px rgba(0,0,0,0.2);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.9), 0 -2px 20px rgba(0,0,0,0.2);
}

#colB form input, .create form input {
	margin: 0;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 8px;
	font-size: 14px;
	background: #FFF;
	border: 1px solid #8a8a8a;
	line-height: 18px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #555;
	height: auto;
	-moz-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.15);
	box-shadow: inset 1px 1px 5px rgba(0,0,0,0.15);
}