#chat {
	width: 100%;
	background: #FFF;
	border: 1px solid #000;
	-moz-box-shadow: 0 0 80px rgba(0,0,0,0.35);
	-webkit-box-shadow: 0 0 80px rgba(0,0,0,0.35);
	box-shadow: 0 0 80px rgba(0,0,0,0.35);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}