{% extends "layout.html.twig" %}

{% block title %}Page not found{% endblock %}

{% block description %}
    The page you are looking for does not exist
{% endblock %}

{% block body %}
    <div class="container">
        <div class="hero-unit" style="text-align: center">
            <img src="/404.png" alt="404: Page not found" width="319" height="402">
        </div>

        <footer>
            <p>404 image courtesy of <a href="http://TheOatmeal.com">Matthew Inman</a></p>
        </footer>
    </div>
{% endblock %}
