{%- macro wamp() -%}
  <abbr title="WebSocket Application Messaging Protocol">WAMP</abbr>
{%- endmacro -%}

{% macro menu() %}
  <div class="span3">
    <div class="well sidebar-nav" style="margin-top: 65px;">
      <ul class="nav nav-list">
          {{ app.menu.render('docs') }}
      </ul>
    </div><!--/.well -->

    <div class="well sidebar-nav">
      <ul class="nav nav-list">
          <li class="nav-header">Links</li>
          {{ app.menu.render('links') }}
      </ul>
    </div>
  </div><!--/span-->
{% endmacro %}
