{% extends "layout.html.twig" %}

{% import "macros.html.twig" as m %}

{% block title %}Tutorial: Installation{% endblock %}

{% block description %}
  Learn how to easily install Ratchet with Composer
{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div class="row-fluid">

    {{ m.menu() }}

      <div class="span9">
            <h2>Deployment <small>- shippit!</small></h2>

            <section><p>
                You've built your application and are ready to deploy it live!
                This tutorial will give you recommendations on what you should do to setup your production environment to run a WebSocket server. 
                None of these are required, but recommended. 
                Please note this page serves as an introduction and boilerplate setup for each technoloogy; each topic has wealths of more detailed resources available. 
            </p></section>

            <section id="ulimit">
                <h3>Open Connection Limit <a class="headerlink" href="#ulimit" title="Permalink to this headline">¶</a></h3>

                <p>
                    A Unix philosophy is "everything is a file". This means each user connecting to your WebSocket application is represented <em>as</em> a file somewhere. 
                    A security feature of every Unix based OS is to limit the number of file descriptors one running application may have open at a time. 
                    On many systems this default is 1024. 
                    This would mean if you had 1024 users currently connected to your WebSocket server anyone else attempting to connect would fail to do so. 
                </p>
                
                <p>
                    Most OS's have many layers of security to prevent applications from opening too many file descriptors. 
                    Here is a great resource on the various ways to <a href="https://rtcamp.com/tutorials/linux/increase-open-files-limit/">increase open file limits</a>. 
                </p>
            </section>

            <section id="evented-io-extensions">
                <h3>Evented I/O extensions <a class="headerlink" href="#evented-io-extensions" title="Permalink to this headline">¶</a></h3>

                <p>
                    The <code>libev</code> and <code>libevent</code> projects implement high-performance asynchronous event driven C libraries. 
                    The PHP extensions <a href="https://pecl.php.net/package/ev"><code>ev</code></a> and <a href="https://pecl.php.net/package/event"><code>event</code></a> are available to interface with these libraries.
                    They allow an application to transparently use the best kernel level evented I/O method (<code>select</code>, <code>poll</code>, <code>epoll</code>, <code>kqueue</code>, or event ports) available for the operating system it is running on.
                </p>

                <p>
                    The <code>ev</code> PHP extension bundles the <code>libev</code> C library in its source and requires no prior setup. If you want to use the <code>event</code> PHP extension, you need to first install the <code>libevent</code> library along with its headers for your operating system. For example on Debian/Ubuntu:
                    <pre>$ sudo apt-get install libevent libevent-dev</pre>
                </p>
                
                <p>
                    You may then install the <code>ev</code> or the <code>event</code> extension, either through your preferred package manager, or directly using <code>pecl</code>:
                </p>
                
                <p>
                    <pre>$ sudo pecl install ev</pre>
                    <pre>$ sudo pecl install event</pre>
                </p>
                
                <p>No further setup is necessary; if either of these extensions is present, the evented I/O loop toolkit used by Ratchet will automatically utilize them, which will drastically improve concurrency.</p>
            </section>

            <section id="xdebug">
                <h3>XDebug <a class="headerlink" href="#xdebug" title="Permalink to this headline">¶</a></h3>

                <p>Disable the XDebug extension.  Make sure it is commented out of your php.ini file.  XDebug is fantastic for development, but destroys performance in production.</p>
            </section>

            <a name="sconf"></a>
            <section id="serverconfiguration">
                <h3>Server Configuration <a class="headerlink" href="#serverconfiguration" title="Permalink to this headline">¶</a></h3>

                <p>There's a couple things you need to know when deploying a WebSocket server that impact how you set up your server architecture:</p>
                <ul>
                    <li>Apache can not handle or even pass-through WebSocket traffic (as of this writing)</li>
                    <li>Some aggressive proxies will block traffic that isn't on port 80 or 443 (not many, research your target audience)</li>
                </ul>

                <p>Given these issues with WebSockets we have three choices on how to architect:</p>
                <ul>
                    <li>Run your website and WebSocket server on the same machine using port 8080 for WebSockets and take the chance client proxies won't block traffic</li>
                    <li>Run your WebSocket server on its own server on port 80 under a subdomain (sock.example.com)</li>
                    <li>Put a reverse proxy (HAProxy or Varnish) in front of your webserver and WebSocket server</li>
                </ul>

                <p>
                    The first two options are fairly easy with the second being a decent option if you can afford a second server.
                    This article will detail the third option and show you how to configure your network, specifically HAProxy, to run your web and WebSocket servers on the same machine. 
                    We've chosen to demonstrate HAProxy because it can also handle SSL (in v1.5) where Varnish can not. 
                    The goal is to setup the architecutre like the diagram below.
                </p>

                <p><img src="/assets/img/proxy-arch.png"></p>

                <p>As of this writing, HAProxy support for WebSockets (via tunnel mode) (and SSL) is in the unstable branch, so we'll have to install it from source:</p>

                <p><pre>wget http://haproxy.1wt.eu/download/1.5/src/devel/haproxy-1.5-dev17.tar.gz
tar -zxvf haproxy-1.5-dev17.tar.gz
cd haproxy-1.5-dev17
make install</pre></p>

                <p>The default installation should be in <em>/usr/local/sbin/haproxy</em>. The next step is to configure it. Below is a sample configuration:

                <p><pre class="prettyprint">global
	log	127.0.0.1	local0
	maxconn	10000
	user	haproxy
	group	haproxy
	daemon

defaults
	mode			http
	log			global
	option			httplog
	retries			3
	backlog			10000
	timeout	client		30s
	timeout	connect		30s
	timeout	server		30s
	timeout	tunnel		3600s
	timeout	http-keep-alive	1s
	timeout	http-request	15s

frontend public
	bind		*:80
	acl		is_websocket hdr(Upgrade) -i WebSocket
	use_backend	ws if is_websocket #is_websocket_server
	default_backend	www

backend ws
	server	ws1	127.0.0.1:1337

backend www
	timeout	server	30s
	server	www1	127.0.0.1:1338</pre></p>

	           <p>
	               Save this file, <em>/etc/haproxy.cfg</em> for example. 
	               You'll notice we set the user an group to haproxy; you'll need to create these or update your configuration to use a different user/group combo. 
	               Note the important parts above begin at "frontend public". 
	               We're telling HAProxy to listen on port 80 and if we find an HTTP header with the "Upgrade: WebSocket" direct it to our WebSocket application running on port 1337 and all other traffic to port 1338 running our traditional web stack (Nginx or Apache). Finally, run HAProxy:
	           </p>

	           <p><pre>$ sudo haproxy -f /etc/haproxy.cfg -p /var/run/haproxy.pid -D</pre></p>
	       </section>

            <section id="supervisor">
                <h3>Supervisor <a class="headerlink" href="#supervisor" title="Permalink to this headline">¶</a></h3>

                <p>
                    When running Ratchet in production it's highly recommended launching it from <a href="http://supervisord.org" target="_blank" rel="external">suporvisord</a>.
                    Suporvisor is a daemon that launches other processes and ensures they stay running.  
                    If for any reason your long running Ratchet application halted the supervisor daemon would ensure it starts back up immediately.
                    Supervisor can be installed with any of the following tools: pip, easy_install, apt-get, yum. 
                    Once supervisor is installed you generate a template file with the following command:
                </p>

                <pre>$ echo_supervisord_conf > supervisor.conf</pre>

                <p>The following is a modification from the generated supervisor.conf file to run a Ratchet application from the "Hello World" tutorial:</p>

                <p><pre class="prettyprint">[unix_http_server]
file = /tmp/supervisor.sock

[supervisord]
logfile          = ./logs/supervisord.log
logfile_maxbytes = 50MB
logfile_backups  = 10
loglevel         = info
pidfile          = /tmp/supervisord.pid
nodaemon         = false
minfds           = 1024
minprocs         = 200

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl = unix:///tmp/supervisor.sock

[program:ratchet]
command                 = bash -c "ulimit -n 10000; exec /usr/bin/php ./bin/tutorial-terminal-chat.php"
process_name            = Ratchet
numprocs                = 1
autostart               = true
autorestart             = true
user                    = root
stdout_logfile          = ./logs/info.log
stdout_logfile_maxbytes = 1MB
stderr_logfile          = ./logs/error.log
stderr_logfile_maxbytes = 1MB</pre></p>

            <p>If you're only going to user supervisor to run your WebSocket application you can now run it with the command:</p>

            <p><pre>$ sudo supervisord -c supervisor.conf</pre></p>

            </section>

	       <section>
	           <h3>Links</h3>

	           <ul>
	               <li><a href="http://libevent.org" rel="external">LibEvent</a></li>
	               <li><a href="http://pecl.php.net/package/libevent" rel="external">Libevent PHP extension</a></li>
	               <li><a href="http://haproxy.1wt.eu/download/1.5/doc/configuration.txt" rel="external">HAProxy Configuration Manual v1.5</a></li>
	               <li><a href="http://supervisord.org/configuration.html" rel="external">Supervisor Configuration</a></li>
	           </ul>
	       </section>

        </div>
    </div>
{% endblock %}
