{% extends "layout.html.twig" %}

{% import "macros.html.twig" as m %}

{% block title %}Component: WsServer | WebSocket Protocol{% endblock %}

{% block description %}
  The WsServer component allows your application to speak the WebSocket protocol to clients
{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div class="row-fluid">

    {{ m.menu() }}

      <div class="span9 component-doc">
            <h2>WsServer <small>(WebSocket server)</small></h2>

            <section>
                <h3>Purpose <small>of this <em>Component</em></small></h3>

                <p>
                    This component (when used with IoServer) allows your server to communicate with web browsers that use the <a rel="external" href="http://dev.w3.org/html5/websockets/">W3C WebSocket API</a>.
                    It is compatible with each of the different WebSocket protocol versions browsers use: RFC6455, HyBi, and Hixie76.
                    Ratchet <a href="/reports/ab/" target="_blank">passes</a> all (non-binary) WebSocket protocol tests from the <a href="http://autobahn.ws/testsuite" rel="external">Autobahn Testsuite</a>.
                </p>
            </section>

            <section>
                <h3>Events <small>triggered by this <em>Component</em></h3>

                <p>As found in the API Docs: Triggered events are propagated through a <a href="/api/class-Ratchet.MessageComponentInterface.html">MessageComponentInterface</a> object passed to the <em>__construct</em>.</p>

                <ul>
                    <li><span class="label label-success">onOpen</span> (ConnectionInterface <em>$conn</em>) - A new client connection has been opened</li>
                    <li><span class="label label-warning">onClose</span> (ConnectionInterface <em>$conn</em>) - A client connection is about to, or has closed</li>
                    <li><span class="label label-info">onMessage</span> (ConnectionInterface <em>$from</em>, string <em>$message</em>) - A data message has been received</li>
                    <li><span class="label label-important">onError</span> (ConnectionInterface <em>$from</em>, Exception <em>$error</em>) - An error has occurred with a <em>Connection</em></li>
{#
                    <li><span class="label label-inverse">onFile</span> (ConnectionInterface <em>$from</em>, object <em>$file</em>) - NOT IMPLEMENTED YET.  When coded, will be when a binary file is transferred to the server</li>
#}
                </ul>
            </section>

            <section>
                <h3>Configuration <small>methods</small></h3>

                <ul>
                    <li>void <strong>disableVersion</strong> (string $versionId) - Disable a specific version of the WebSocket protocol. Sometimes you'll want to disable Hixie76, which you can do by passing <em>0</em> to this method. </li>
                    <li>void <strong>setEncodingChecks</strong> (boolean $opt) - Turn UTF-8 checks on or off. The WebSocket spec says to check incoming messages for UTF-8 encoding, but all web browsers do this. Turning off this check will boost performance. </li>
                </ul>
            </section>

            <section>
                <h3>Functions <small>callable on <em>Connections</em></small></h3>

                <ul>
                    <li><span class="label label-info">send</span> (string <em>$message</em>) - Send a message (string) to the client</li>
                    <li><span class="label label-warning">close</span> - Gracefully close the connection to the client</span>
                </ul>
{#
                <ul>
                    <li><span class="label label-warning">Disconnect</span> - Notify the client of an intent to close the connection. All data currently being transferred will finish before the connection closes</li>
                    <li><span class="label">Pong</span> - Part of the WebSocket protocol, typically not needed by your application
                    <li><span class="label">Ping</span> - Part of the WebSocket protocol, typically not needed by your application
                </ul>
#}
            </section>

            <section>
                <h3>Parameters <small>added to each <em>Connection</em></small></h3>

                <dl>
                    <dt>WebSocket</dt>
                    <dd>(<a href="/api/class-Guzzle.Http.Message.RequestInterface.html">Guzzle\Http\Message\RequestInterface</a> <em>$request</em>) - A Guzzle Request object containing all the information from the initial HTTP connection</dd>
{#
                    <dd>(Ratchet\WebSocket\Version\VersionInterface <em>$version</em>) - Not used by your application, but stores information/data about the WebSocket version the client is connected with. The object is a re-entrant, re-used on other connections, so don't mess with it  :)</dd>
#}
                </ul>
            </section>

            <section>
                <h3>Wraps <small>other components nicely</small></h3>

                <ul>
                    <li><a href="/docs/wamp">WampServer</a></li>
                    <li><a href="/docs/sessions">SessionProvider</a></li>
                    <li>Your app class implementing <a href="/api/class-Ratchet.MessageComponentInterface.html">MessageComponentInterface</a></li>
                    <li><a rel="external" href="https://github.com/cboden/Ratchet-examples/blob/master/src/Ratchet/Examples/Cookbook/MessageLogger.php">MessageLogger</a> (found in example repo)</li>
                </ul>
            </section>

            <section>
                <h3>Wrapped <small>by other components nicely</small></h3>

                <ul>
                    <li><a href="/docs/server">IoServer</a></li>
                    <li><a href="/docs/black">IpBlackList</a></li>
                </ul>
            </section>

            <section>
                <h3>Usage</h3>

                <pre class="prettyprint">&lt;?php
// Your shell script
use Ratchet\WebSocket\WsServer;
use Ratchet\Server\IoServer;

    $ws = new WsServer(new MyChat);
    $ws->disableVersion(0); // old, bad, protocol version

    // Make sure you're running this as root
    $server = IoServer::factory($ws);
    $server->run();</pre>
            </section>
        </div>
    </div>
{% endblock %}
